.full_dl{
    margin: 0;
    padding: 0;
    width: 100%;
}
.title_dl{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: large;
    font-weight: 500;
    color: black;
}
.list_dl{
    margin: 0;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1%;
}
.doc_dl{
    flex: 1 1 22%;
    max-width: 22%;
    margin: 0.8%;
    border: 1px solid rgb(171, 181, 195);
    height: 52vh; 
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(139, 142, 155, 0.986);
    border-radius: 10px;
}
.doc_dl:hover{
    transform: translateY(-3%);
}